@charset "UTF-8";

body {
    background-color: #101522;

}

h1, h2 {
    color: white;
}

.area-dash {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #080f20;
    height: 600px;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nav {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #11192b;
    border-radius: 15px;   
}

.nav a {
    color: #B0C4DE;
}

.nav a:hover {
    text-decoration: underline;
}

.card {
    border-radius: 15px;
    background-color: #11192b;
    color: #B0C4DE;
}

