@charset "UTF-8";

body {
    background-color: #101522;

}

h1, h2, h3{
    color: white;
}

.container {
    background-color: #080f20;
    border-radius: 15px;
    height: 100%;
    margin: 30px;
}

.nav {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #11192b;
    border-radius: 15px;   
}

.nav a {
    color: #B0C4DE;
}

.nav a:hover {
    text-decoration: underline;
}

label {
    font-size: 18px;
    color: white;
}

.card {
    border-radius: 15px;
    background-color: #11192b;
    color: #B0C4DE;
}

.form-group {
    border-radius: 15px;
    background-color: #11192b;
    color: #B0C4DE;
    padding: 25px;
}

.form-control {
    padding: 25px;
    margin-bottom: 10px;
    border-color: initial;
    color: #B0C4DE;
}

.form-control {
    background-color: #11192b; 
    border: 0.5px solid initial; 
    color: #B0C4DE; 
    padding: 8px;
    font-size: 16px;
    width: 100%;
}

.form-control option[disabled] {
    color: #B0C4DE;
}

.btn, .btn-primary {
    background-color: #11192B;
    padding: 10px 30px;
    margin: 15px 0px;
    border-radius: 10px;
    border: 0.5px solid gray;
    border-color: inset;
    color: #B0C4DE;
}

.btn, .btn-primary:hover {
    background-color: #11192B;
}

.list-group-item {
    border-color: inherit;
    margin: 5px;
    background-color: #11192b;
}

.list-group-item .group-item{
    border: 1px solid white;
    background-color: #11192b;
}