@charset "UFT-8";

body {
    background-color: #101522;
    font-family: 'poppinsregular';
}

h1 {
    color: white;
    padding: 10px;
}

label {
    font-size: 18px;
    color: white;
}

.area-cadastro {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: #080f20;
    height: 600px;
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.nav {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: #11192b;
    border-radius: 15px;   
    font-size: 18px;
}

.nav a {
    color: #B0C4DE;
}

.nav a:hover {
    text-decoration: underline;
}

.card {
    border-radius: 15px;
    background-color: #11192b;
    color: #B0C4DE;
}

.form-control {
    padding: 25px;
    margin-bottom: 10px;
    background-color: #11192b;
    border-color: initial;
}

.btn, .btn-primary {
    background-color: #11192B;
    padding: 25px 40px;
    margin: 15px 0px;
    border-radius: 15px;
    border: 0.5px solid gray;
    border-color: inset;
    color: #B0C4DE;

}