@charset "UTF-8";

body {
    padding: 0;
    margin: 0;
    background-color: #0b1222;

}

.area-banco {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-4 h1 {
    text-align: center;
    color: #B0C4DE;
}

.card {
    width: 95%;
    background-color: #101522;
    border-radius: 20px;
}

.card p {
    background-color: #1A233A;
    padding: 10px;
    margin: 10px;
    border: 0.5px solid #101522;
    border-radius: 20px;
    
    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #11192b;
    height: 500px;
    width: 700px;
    border-radius: 15px;
    
}

.paragrafo {
    color: #B0C4DE;
    margin-top: 15px;
}


a {
    color: #B0C4DE;
    width: 100%;
}